body {
    display: flex;
    justify-content: center;
}

.grid-container1 {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 6fr;
    border: 5px black;
    width: 30%;
}

.span-class-vertical-equal {
    grid-column: 4;
    grid-row: 4 / span 2;
}

.span-class-vertical-plus {
    grid-column: 4;
    grid-row: 2 / span 2;
}

.span-class-horizontal-zero {
    grid-column: 1 / span 2;
}

.key-pad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 8;
}